<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RhymeIt - Play</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Find the Rhyming Words!</h1>
    <p>Synonym of word 1: {{ synonyms_word1 | join(', ') }}</p>
    <p>Synonym of word 2: {{ synonyms_word2 | join(', ') }}</p>

    <form action="{{ url_for('auth.check_guess') }}" method="post">
        {{ form.hidden_tag() }}
        <label for="user_input1">First word:</label><br>
        <input type="text" id="user_input1" name="user_input1" required><br><br>
        <label for="user_input2">Second word:</label><br>
        <input type="text" id="user_input2" name="user_input2" required><br>
        <input type="hidden" name="word1" value="{{ word1 }}">
        <input type="hidden" name="word2" value="{{ word2 }}"><br>
        <input type="hidden" name="used_hints" value="{{ used_hints }}"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
