body {
    font-family: 'Oswald', sans-serif;
    color: #D9514EFF;
    background-color: #2A2B2DFF;
    font-size: 16px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #2DA8D8FF;
}

button {
    font-size: 18px;
}

