<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RhymeIt</title>
</head>
<body>
    <h1>Sorry!</h1>
    <p>One or both of your guesses are incorrect!</p>
    <form action="/play" method="get">
        <button type="submit">Try again</button>
    </form>
    <br>
    <form action="/get_hint" method="get">
            <button type="submit">No luck? Try with two synonyms</button>
        </form>
</body>
</html>
