<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RhymeIt</title>
        <style>
        h1 {
            font-size: 40px;
           }
        h2 {
            font-size: 30px;
           }
    </style>
</head>
<body>
<h1>Welcome to RhymeIt:</h1><h2>Your Daily Rhyming Game!</h2>
    <form action="/play" method="post">
        <button type="submit">Start Game</button>
    </form>
</body>
</html>
